/*<!-- public/css/style.css -->*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* чтобы всё было выше footer'a */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%; /*на всю ширину*/
  height: 30px; /*заданной высоты*/
/*  background-color: #f5f5f5;*/
}
.footer > .container > p{
  margin: 5px;
}

/*ПРИМЕР:*/
/*body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}*/