/*<!-- public/css/style.css -->*/
/*===========================
ВСЕ СТРАНИЦЫ ================
=============================*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* чтобы всё было выше footer'a */
  margin-bottom: 30px;
  padding-top:80px; 
}
.btn{
border-radius: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%; /*на всю ширину*/
  height: 30px; /*заданной высоты*/
}
.footer > .container > p{
  margin: 5px; /*выравнивание текста в footer'e*/
}

/*===========================
ДЛЯ РУЛЕТКИ =================
=============================*/
/*для колеса рулетки*/
#canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*для значка WIN*/
#prizePointer {
  position: relative;
  left: 45.5%;
  width: 10%;
  z-index: 2;
}

/*ДЛЯ СПИСКА ПОЛЬЗОВАТЕЛЕЙ*/
.list-Users-Field{
word-wrap: break-word;
font-size: 13px;
}

/*ДЛЯ ЧАТА*/
#id_chatOutputField{
  min-height: 300px;
  word-wrap: break-word;
}
