<!-- views/parts/footer.ejs -->
<footer class="footer">
  <div class="container">
    <p class="text-center">powered by <a href="http://nodejs.org">node.js</a> © 2016 created by <a href="mailto:aleksey.grechka.it@gmail.com?subject=Roulette_JS">Me</a></p>
  </div>
</footer>