<!-- views/pages/404.ejs -->
<title>404: Page not Found</title>
<div class="text-center">
	<h3>Oops !</h2>
	<br>
	<h1>Error: 404</h1>
	<br>
	<h3><span class="glyphicon glyphicon-remove"></span> Page not Found ... :-(</h2>		
</div>