<!-- views/pages/500.ejs -->
<title>500: Something BAD happened</title>
<div class="panel panel-default text-center">	
	<h3>Oops !</h2>
	<br>
	<h1>500</h1>
	<br>
	<h3>Something BAD happened ... :-(</h2>		
</div>