<!-- views/pages/index.ejs -->
<title>Roulette Game</title>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-lock"></span> Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Local Signup</a>
    </div>

</div>