<!-- views/pages/index.ejs -->
<title>Roulette Game</title>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-registration-mark"></span> Roulette Game</h1>
        <h2>Welcome to on-line Game: <a href="/roulette"><em>Roulette (casino)</em></a></h2>
        <h3><small>This game, however, as the server powered by <a href="https://ru.wikipedia.org/wiki/JavaScript">JavaScript</a> &amp; <a href="http://nodejs.org">node.js</a></small></h3>
        <a href="/roulette" class="btn btn-success btn-lg">LET's PLAY !</a>
        <h5>don't worry, it's free ;)</h5>
        <!-- <h2><a href="/roulette">LET's PLAY ! <small>don't worry, it's free ;)</small></a></h2> -->
        <p>But you need <a href="/login">Login</a> or <a href="/signup">Register</a>:</p>

        <a href="/login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Login </a>
        <a href="/signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Signup </a>
    </div>

</div>