<!-- views/pages/profile.ejs -->
<title>Profile</title>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="glyphicon glyphicon-ok-sign"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    
    <div class="row">
        <!-- Информация о пользователе -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="glyphicon glyphicon-user"></span> Local</h3>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>money</strong>: <%= user.roulette.money %>
                    </p>
            </div>
        </div>
    </div>
</div>