<!-- views/pages/roulette.ejs -->
<title>Roulette Game JS</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="container">
	<div class="row">

		<!-- КОЛЕСО -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <!-- значок WIN -->
            <img id="prizePointer" src="/images/basic_pointer.png" alt="V" />
            <!-- колесо рулетки -->
            <!-- если id не canvas - тогда необходимо указывать его в настройках,
            при создании колеса -->
    		<canvas id='canvas' width=400 height=400>
    		    Canvas not supported, use another browser.
    		</canvas>
		</div> <!-- основной div под рулетку -->

		<!-- УПРАВЛЕНИЕ, СТАВКИ -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 panel panel-default">
			<div class="panel-body">
				
				<div>
					<a id="0" href="#" class="btn btn-success btn-sm center-block">0</a>
				</div>

				<!-- ОСНОВНОЙ БЛОК -->
				<!-- ПОСЛЕ СОВЕРШЕНИЯ СТАВКИ - ДОБАВИТЬ КЛАСС active
				И УДАЛИТЬ КЛАСС disabled С КНОПКИ ЗАПУСКА -->
				<div class="row">
					<!-- первый столбец -->
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<a id="i_1" href="#" class="btn btn-danger btn-sm center-block">1</a>
						<a id="i_4" href="#" class="btn btn-default btn-sm center-block">4</a>
						<a id="i_7" href="#" class="btn btn-danger btn-sm center-block">7</a>
						<a id="i_10" href="#" class="btn btn-default btn-sm center-block">10</a>
						<a id="i_13" href="#" class="btn btn-default btn-sm center-block">13</a>
						<a id="i_16" href="#" class="btn btn-danger btn-sm center-block">16</a>
						<a id="i_19" href="#" class="btn btn-danger btn-sm center-block">19</a>
						<a id="i_22" href="#" class="btn btn-default btn-sm center-block">22</a>
						<a id="i_25" href="#" class="btn btn-danger btn-sm center-block">25</a>
						<a id="i_28" href="#" class="btn btn-default btn-sm center-block">28</a>
						<a id="i_31" href="#" class="btn btn-default btn-sm center-block">31</a>
						<a id="i_34" href="#" class="btn btn-danger btn-sm center-block">34</a>
					</div><!-- первый столбец -->
					<!-- второй столбец -->
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<a id="i_2" href="#" class="btn btn-default btn-sm center-block">2</a>
						<a id="i_5" href="#" class="btn btn-danger btn-sm center-block">5</a>
						<a id="i_8" href="#" class="btn btn-default btn-sm center-block">8</a>
						<a id="i_11" href="#" class="btn btn-default btn-sm center-block">11</a>
						<a id="i_14" href="#" class="btn btn-danger btn-sm center-block">14</a>
						<a id="i_17" href="#" class="btn btn-default btn-sm center-block">17</a>
						<a id="i_20" href="#" class="btn btn-default btn-sm center-block">20</a>
						<a id="i_23" href="#" class="btn btn-danger btn-sm center-block">23</a>
						<a id="i_26" href="#" class="btn btn-default btn-sm center-block">26</a>
						<a id="i_29" href="#" class="btn btn-default btn-sm center-block">29</a>
						<a id="i_32" href="#" class="btn btn-danger btn-sm center-block">32</a>
						<a id="i_35" href="#" class="btn btn-default btn-sm center-block">35</a>
					</div><!-- второй столбец -->
					<!-- третий столбец -->
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<a id="i_3" href="#" class="btn btn-danger btn-sm center-block">3</a>
						<a id="i_6" href="#" class="btn btn-default btn-sm center-block">6</a>
						<a id="i_9" href="#" class="btn btn-danger btn-sm center-block">9</a>
						<a id="i_12" href="#" class="btn btn-danger btn-sm center-block">12</a>
						<a id="i_15" href="#" class="btn btn-default btn-sm center-block">15</a>
						<a id="i_18" href="#" class="btn btn-danger btn-sm center-block">18</a>
						<a id="i_21" href="#" class="btn btn-danger btn-sm center-block">21</a>
						<a id="i_24" href="#" class="btn btn-default btn-sm center-block">24</a>
						<a id="i_27" href="#" class="btn btn-danger btn-sm center-block">27</a>
						<a id="i_30" href="#" class="btn btn-danger btn-sm center-block">30</a>
						<a id="i_33" href="#" class="btn btn-default btn-sm center-block">33</a>
						<a id="i_36" href="#" class="btn btn-danger btn-sm center-block">36</a>
					</div><!-- третий столбец -->
					<!-- !!! It's too early for that - пока без этих ставок - 4-й и 5-й столбец -->
					<!-- четвертый (1) столбец -->
					<!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a id="i_1-18" href="#" class="btn btn-default btn-sm center-block">1 - 18</a>
						<a id="EVEN" href="#" class="btn btn-default btn-sm center-block">EVEN</a>
						<a id="RED" href="#" class="btn btn-default btn-sm center-block">RED</a>
						<a id="BLACK" href="#" class="btn btn-default btn-sm center-block">BLACK</a>
						<a id="ODD" href="#" class="btn btn-default btn-sm center-block">ODD</a>
						<a id="i_19-36" href="#" class="btn btn-default btn-sm center-block">19 - 36</a>
					</div> --> <!-- четвертый (1) столбец -->
					<!-- пятый (2) столбец -->
					<!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a id="i_1st12" href="#" class="btn btn-default btn-sm center-block">1st 12</a>
						<a id="i_2nd12" href="#" class="btn btn-default btn-sm center-block">2nd 12</a>
						<a id="i_3rd12" href="#" class="btn btn-default btn-sm center-block">3rd 12</a>
					</div> --> <!-- пятый (2) столбец -->
				</div> <!-- div row для столбцов -->
			</div> <!-- div panel-body -->
			<div class="panel-footer">
				<div class="row">

					<!-- ВЫБОР ВЕЛИЧИНЫ СТАВКИ -->
					<!-- ДЛЯ ОПРЕДЕЛЕНИЯ ВЫБРАННОЙ СТАВКИ -->
					<!-- alert(document.querySelector('input[type="radio"]:checked').value) -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h4>Choose BET :</h4>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="bet1" value="1"> 1 </label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="bet5" value="5" checked=""> 5 </label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="bet10" value="10"> 10 </label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="bet25" value="25"> 25 </label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="bet50" value="50"> 50 </label>
						<label class="radio-inline">
							<input type="radio" id="bet100" value="100"> 100 </label>
						<br/>
						<br/>
					</div>
					
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<!-- кнопка запуска анимации -->
						<!-- !!! ДО СТАВОК НУЖЕН ЕЩЕ КЛАСС disabled. ПОСЛЕ ЛЮБОЙ СТАВКИ УДАЛЯТЬ ЕГО -->
						<a onClick="spinWheel.getWinSegmentFromServerAndStart(36);" class="btn btn-info center-block">Let's GO</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<!-- кнопка сброса анимации -->
						<a onClick="spinWheel.stopAnimation(); spinWheel.rotationAngle=0; spinWheel.draw();" class="btn btn-warning center-block">Reset</a>
					</div>
				</div> <!-- div row кнопок управления -->
			</div> <!-- div panel-footer -->
		</div> <!-- основной div под таблицу ставок -->

		<!-- ИСТОРИЯ ВЫЙГРАШНЫХ ПОЛЕЙ -->
		<!-- ПОСЛЕ КАЖДОЙ ИГРЫ ДОБАВЛЯТЬ <span class="badge" style="background-color: #ff0000">3</span> / -->
		<!-- ИНФОРМАЦИЯ О ПОЛЕ ТУТ - spinWheel.segments[36 - numWinSegment] -->
		<!-- ЦВЕТ ПОЛЯ - 'fillStyle' : '#ff0000' / ЦИФРА - 'text' : '3' -->
		<div class="col-xs-8 col-sm-8 col-md-2 col-lg-2">
			<div class="panel panel-default">
			  <div class="panel-heading">Game History</div>
			  <div class="panel-body">
			    <span class="badge" style="background-color: #ff0000">3</span> /
			    <span class="badge" style="background-color: #000000">28</span> /
			    <span class="badge">16</span> /
			    <span class="badge">5</span> /
			    <span class="badge">34</span> /
			  </div>
			</div>
		</div> <!-- история -->
		
		<!-- ПОЛЬЗОВАТЕЛИ НА САЙТЕ -->
		<!-- ДЛЯ КАЖДОГО ПОЛЬЗОВАТЕЛЯ ДОБАВЛЯТЬ <li><a href="#" и т.д.></a></li> -->
		<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
			<div class="panel panel-default">
			  <div class="panel-heading">Users On-Line</div>
			  <div class="panel-body">
			  	<ul class="row">
			  		<li><a id="Vasya" href="#" class="listOfUsers" data-toggle="tooltip" data-placement="top" title="Тут будем показывать немного информации о Васе">Vasya</a></li>
			  		<li><a id="Petya1111111112222222333333" href="#" class="listOfUsers" data-toggle="tooltip" data-placement="top" title="Тут будем показывать немного информации о Пете">Petya1111111112222222333333</a></li>
			  	</ul>
			  </div>
			</div>
		</div> <!-- пользователи -->

	</div> <!-- div row page-->
</div> <!-- div container page -->
		
		<!-- ПЕРЕНЕСТИ В НЕОБХОДИМЫЕ ФАЙЛЫ -->
		<style type="text/css">
		   .btn{
		   	border-radius: 15px;
		   }
		   .listOfUsers{
		   	word-wrap: break-word;
		   	font-size: 13px;
		   }
		</style>
		<!-- ПЕРЕНЕСТИ В НЕОБХОДИМЫЕ ФАЙЛЫ -->
		<script type="text/javascript">
			$(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>

<!-- Подключаем скрипт для визуалицазии и настройки колеса рулетки -->
<script type="text/javascript" src='/js/Winwheel.js'></script>
<!-- Подключаем скрипт для анимации колеса рулетки -->
<script type="text/javascript" src='/js/TweenMax.min.js'></script>
<!-- Подключаем скрипт для настройки, создания и запуска колеса рулетки -->
<script type="text/javascript" src='js/roulette.js'></script>