<!-- views/pages/roulette.ejs -->
<title>Roulette Game JS</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="container">
	<div class="row">
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <!-- значок WIN -->
            <img id="prizePointer" src="/images/basic_pointer.png" alt="V" />
            <!-- колесо рулетки -->
            <!-- если id не canvas - тогда необходимо указывать его в настройках,
            при создании колеса -->
    		<canvas id='canvas' width=400 height=400>
    		    Canvas not supported, use another browser.
    		</canvas>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			222
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			333
		</div>
	</div>
</div>

<!-- кнопка запуска анимации -->
<a onClick="getWinSegmentFromServerAndStart();" class="btn btn-success">Let's GO</a>
<!-- кнопка сброса анимации -->
<a onClick="spinWheel.stopAnimation(); spinWheel.rotationAngle=0; spinWheel.draw();" class="btn btn-danger">Reset</a>

<!-- Подключаем скрипт для визуалицазии и настройки колеса рулетки -->
<script type="text/javascript" src='/js/Winwheel.js'></script>
<!-- Подключаем скрипт для анимации колеса рулетки -->
<script type="text/javascript" src='/js/TweenMax.min.js'></script>
<!-- Подключаем скрипт для настройки, создания и запуска колеса рулетки -->
<script type="text/javascript" src='js/roulette.js'></script>